@model IEnumerable<webProject2.Models.items>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:white">Index</h1>
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insertModal"> Create</button>
    @await Html.PartialAsync("insertitem",new items())



<div class="container-fluid">
    <div class="row">
        @foreach (items item in Model)
        {
           <div class="col-md-4"v>
               
           <div class="card mb-4">
                    <img class="card-img-top" src="~/images/@item.image" width="150px">
               <div class="card-body">
                        <h5 class="card-title text-dark">@item.name</h5>
                        <p class="card-text text-dark"> Quantity: @item.quantity</p>
               </div>
               <div class="card-footer">
               <table>

                            <tr>
                                
                                <td>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="@("#editModal-" + @item.Id)">edit</button>
                                    @await Html.PartialAsync("editbook",item)
                                <td>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#deleteModal-" + @item.Id)">Delete</button>
                                    @await Html.PartialAsync("deletebook",item)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="@("#detailModal-" + @item.Id)">Detail</button>
                                    @await Html.PartialAsync("detailbook",item)
                                </td>
                            </tr>

               </table>

               </div>
           </div>
           
           </div>
        }
    </div
    ></div>
    
