@model IEnumerable<webProject2.Models.items>

@{
    ViewData["Title"] = "search";
}
@{
    Layout = "~/Views/Shared/adminLayout.cshtml";
}
<h1 style="color:white;">search</h1>
<link rel="stylesheet" type="text/css" href="~/css/style.css" />

<p>
   
</p>
<form asp-action="search">
    <div class="form-group">

        <input name="title" class="form-control" />
    </div>
    <input type="submit" value="Search" class="text btn btn-default" />
</form>


<br /> 

@{
    if (ViewData["role"] == "admin")
    
    {

        <p><a asp-action="index">Home</a></p>

    }
    else
    {

        <p><a asp-controller="Home" asp-action="customerPage">Home</a></p>

    }
}

<table class=" text table animate__animated animate__fadeInDownBig">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        


        @if (ViewData["full"] == null)
        
       


        @foreach(items Model in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.discount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.quantity)
                </td>
                <td>
                    <img src="~/images/@Model.image" width="50px" />
                </td>

                    @{
                        if (ViewData["role"] == "admin")


                        {


                            <td>
                                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                            </td>

                        }

                        else
                        {
                            <td>
                                <a asp-action="Details" asp-route-id="@Model.Id"><button>Details</button></a>
                                |
                                <a asp-controller="orders" asp-action="buy"><button>Buy</button></a> 

                            </td>



                        }
                    }

                
            </tr>

        }
       
                @ViewData["Message"]
    </tbody>
</table>
