@model IEnumerable<webProject2.Models.items>

@{
    ViewData["Title"] = "buy";
}

<h1>buy</h1>
@{
    Layout = "~/Views/Shared/customerLayout.cshtml";
}


<p>
    <a asp-controller="orders" asp-action="checkout"><button>Checkout</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <form asp-action="buy">

        <tr>
                 <td>
                     <input type="hidden" name="itemid" asp-for="@item.Id">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                <img src="~/images/@item.image" width="150px">
            </td>
            <td>
                <button type="submit">Buy</button>
                <input type="number" name="quantity">
            </td>
        </tr>
            </form>
}
    </tbody>
</table>
