@model IEnumerable<webProject2.Models.orders>

@{
    ViewData["Title"] = "invoicelist";
}

<h1>invoicelist</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="invoicelist">
    <div class="form-group">
    </div>
    <div class="form-group">
        <label class="control-label">Select customer id</label>
        <select class="form-control" name="cata" id="Id" onchange="getorder()">
            <option value="nothing">Please select


                @foreach (orders order in Model)
                {
                <option value="@order.userid"> @order.userid  </option>
                }

            </option>
           
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Select order</label>
        <select class="form-control" name="order" id="ti"> </select>
    </div>
    <input type="submit" value="Show" class="btn btn-default" />
</form>
<script>
    async function getorder() {
        var Id = document.getElementById('id').value;
        var response = await fetch('/APIOrders/' + Id);
        let x = await response.json();
        var dd = "<option> Please select</option>";
        for (i = 0; i < x.length; i++) {
            dd += "<option>" + x[i].title + "</option>";
        }
        document.getElementById("ti").innerHTML = dd;
    }
</script>




<table id="ti" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itemid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ta" >

    </tbody>
</table>
