<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="modal fade" id="editModal-@Model.Id" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Item</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">



@model webProject2.Models.items

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/style.css" />


<div id="blackBackground">
    <h1 style="color:white">Details</h1>
    <h4 style="color:white">items</h4>
    <hr />
    <dl class="text row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.image" width="150px" />
        </dd>
    </dl>

    <div>
        |
        <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-controller="items" asp-action="Index"><button>Back</button></a>
        <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" asp-controller="items" asp-action="Edit" asp-route-id="@Model.Id"><button>Edit</button></a>

    </div>
</div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
